.head-text{
  text-align: center;
    margin: 5px;
}

#selectType {
    width: 90%;
    padding: 10px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid Grey;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-fields {
    height: 60%;
}

.form-field {
    width: 90%;
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid Grey;
    border-radius: 4px;
    box-sizing: border-box;
}

#form {
    margin-left: 20px;
}

.form-field:focus {
    background-color: LightCyan;
}

.form-button {
    width: 90%;
    background-color: DarkBlue;
    color: white;
    padding: 9px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.box {
    border-radius: 20px;
    background-image:url(744081-background-wallpaper.jpg);
    padding: 20px;
    margin: 0 auto;
    height: 700px;
    width: 60%;
    border: 2px solid DarkBlue;
}

.validation-field {
    display: block;
    color: Maroon;
}

.invalid-field {
    border: 2px solid Maroon !important;
}

.input-fields {
    width: 40%;
    float: left;
    height: 55%;
}

.nav-link {
    text-line-through-color: black;
    background: white;
    border: 1px solid Grey;
    margin: 8px 25px 15px 25px;
}

.nav {
    padding-left: 10px;
}
.container {

    width: 60%;
    float: right;
    height: 55%;
}

.field-title {
    float: left;
    margin: 11px;
    border-radius: 4px;
}

.field-status {
    float: right;
    margin: 11px ;
    border-radius: 4px;
}

.field-textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 110px;
    width: 95%;
    border-radius: 4px;
    border: 1px solid Grey;
}
.field-textarea:focus{
    background-color: LightCyan;
}

.tab-content {
    width: 100%;
    height: 70%;
    text-align: center;
}

#menu1,#menu2,#menu3{
    float: right;
    width: 100%;
    height: 100%;
    background: SkyBlue;
    border-radius: 4px;
    border: 1px solid Grey;
}

.form-title, .form-status{
    border-radius: 4px;
    padding: 9px 22px;
    border: 1px solid Grey;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-title:focus{
    background-color: LightCyan;
}

.form-status:focus{
    background-color: LightCyan;
}
.add-container {
    float: right;
    width: 31%;
    height: 40px;
}

.addBtn {
    margin: 14px ;
    width: 95%;
    background-color: DarkBlue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    height: 96%;
}

#list-tasks {
    width: 100%;
    height: 30%;
    border-radius: 4px;
    display: inline-block;
    margin-top: 15px;
    overflow: scroll;
    border: 2px solid Grey;
    background: white;
}

.date {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid Grey;
    text-align-all: center;
    margin: 14px ;
}

.field-date {
    float:left;
    width: 60%;
    height: 15%;
}

.task {
    cursor: pointer;
    padding: 0 0 5px 15px;
    background: AliceBlue;
    font-size: 17px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid Grey;
}

.task:nth-child(odd) {
    background: #f9f9f9;
}

.task:hover {
    background: LightCyan;
}

.completed-task {
    cursor: pointer;
    padding: 0 0 5px 15px;
    border-radius: 4px;
    font-size: 17px;
    width: 100%;
    background: AliceBlue;
    border: 1px solid Grey;
    text-decoration : line-through;
}

.span-close {
    float: right;
    width: 35px;
    padding: 0 0 0 10px;
    height: 29px;
    border: 1px;
    background: AliceBlue;
}

.span-close:after{
    content: ' \2715';
    width: 70%;
    height: 70%;
}
.span-close:hover {
    background: yellow;
}


