.head-text{
  text-align: center;
}

#selectType {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid PaleTurquoise;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-field {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid PaleTurquoise;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-field:focus {
    background-color: CornflowerBlue;
}

.form-button {
    width: 90%;
    background-color: DarkBlue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;

}

.box {
    border-radius: 5px;
    background-color: SteelBlue;
    padding: 20px;
    margin: 0 auto;
    height: 650px;
    width: 60%;
    border: 2px solid DarkBlue;
}


.validation-field {
    display: block;
    color: Maroon;
}

.invalid-field {
    border: 2px solid Maroon !important;
}

.input-fields {
    width: 40%;
    float: left;
}

.nav-link active,.nav-link {
text-line-through-color: black;
    background: white;
    border: 3px solid PaleTurquoise;
    margin: 10px;
}

.container {
    background:SteelBlue;
    width: 60%;
    float: right;
    height: 60%;
}

.field-title {
    float: left;
    margin: 8px;
}

.field-status {
    float: right;
    margin: 10px;
}

.field-description {
    height: 50%;
    width: 100%;

}

.field-textarea{
    height: 100%;
    width: 100%;

}

.tab-content {
    width: 100%;
    height: 100%;
}


#menu1,#menu2,#menu3{
    float: right;
    width: 100%;
    height: 100%;
    background: SkyBlue;
}



